# Archivo: .env.example

# Puerto del servidor
PORT=3000

# Cadena de conexión a MongoDB
MONGO_URI=mongodb+srv://<usuario>:<contraseña>@cluster0.mongodb.net/studyswap

# Configuracion para Nodemailer
EMAIL_USER=usuario@gmail.com
EMAIL_PASS=clave_de_aplicacion
