.profile-container {
  background-color: #fcfffc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(36, 130, 50, 0.08);
  color: #040f0f;
}

.profile-container h2,
.profile-container h5 {
  color: #248232;
}

.profile-container .MuiButton-root {
  font-weight: bold;
  text-transform: none;
}

.profile-container .MuiTextField-root {
  background-color: white;
}
