.detail-container {
  background-color: #fcfffc;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(36, 130, 50, 0.1);
  color: #040f0f;
}

.detail-container .description {
  font-size: 1rem;
  color: #2d3a3a;
}

.detail-comments .MuiPaper-root {
  background-color: #f9f9f9;
}

.detail-comment-form button {
  text-transform: none;
  font-weight: bold;
}
