.upload-container {
  background-color: #fcfffc; /* blanco suave */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(36, 130, 50, 0.1); /* sombra verde sutil */
  color: #040f0f;
}

.upload-container h2 {
  color: #248232;
  font-weight: 600;
}

.upload-container input[type="file"] {
  margin-top: 0.5rem;
}

.upload-container .MuiAlert-root {
  margin-bottom: 1rem;
}

.upload-container button {
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.upload-container button:hover {
  background-color: #2ba84a;
}
