.tutor-card {
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  border-radius: 6px;
}

.tutor-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(36, 130, 50, 0.2); /* sombra verde suave */
}

.tutor-card h6 {
  color: #040f0f;
  font-weight: 600;
}

.tutor-card .MuiButton-root {
  text-transform: none;
  font-weight: bold;
}
