.publish-container {
  background-color: #fcfffc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(36, 130, 50, 0.1);
  color: #040f0f;
}

.publish-container .MuiButton-root {
  font-weight: bold;
  text-transform: none;
}

.publish-container .MuiFormControl-root {
  background-color: white;
}
